
body{
    background-color: black;
    margin: 0;
}
.container{
    height: 100vh;
    background-color: black;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr 5fr 1fr;
    gap: 5px;
}
.texto{
    color: white;

}

.b1{
    grid-column: 1 / 6;
    display: flex;
}
.b2{
    grid-column: 1 / 6;
    display: flex;
    text-align: justify;
    align-items:center;
    text-indent: 20pt;   
    color: white;  

}
.b3{
    background: url("/img/img01.jpg");
    background-size: cover; 
    background-position: center;
}

.b4{
    background: url("/img/img02.jpg");
    background-size: cover; 
    background-position: center;
}

.b5{
    background: url("/img/img03.jpg");
    background-size: cover; 
    background-position: center;
}
.b6{
    background: url("/img/img04.jpg");
    background-size: cover; 
    background-position: center;
}

.b7{
    background: url("/img/img05.jpg");
    background-size: cover; 
    background-position:bottom;
}

.b8{
    grid-column: 1 / 6;
    display: flex;
    text-align: justify;
    align-items:center;
    text-indent: 20pt; 
    color: white;    
}

.b9{
    background: url("/img/img09.jpg");
    background-size: cover; 
    background-position:left;
}

.b10{
    background: url("/img/img10.jpg");
    background-size: cover; 
    background-position:left;
}

.b11{
    background: url("/img/img11.jpg");
    background-size: cover; 
    background-position:left;
}

.b12{
    background: url("/img/img12.jpg");
    background-size: cover; 
    background-position:left;
}

.b13{
    background: url("/img/img.jpg");
    background-size: cover; 
    background-position:center;
}


.b14{
    grid-column: 1 / 6;
    display: flex;
    align-items:center;
    text-indent: 20pt;   
    color: white; 
}

.logo{
    display: flex;
    align-items: center;
    margin: 5px;
}
.header-izq{
    background-color: black;
    width: 15vw;
    height: 100%;
    
}
.header-center{
    background-color: black;
    width: 55vw;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    text-indent: 20pt;    
   
}
.header-der{
    background-color: black;;
    width: 30vw;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:end;
}
.texto{
    color: white;
}

